button {
    position: relative;
    border: none;
    background-color: white;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.3);
}

button div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 11px;
    left: 12px;
    font-weight: 300;
}